*.ReSharper.*
*.vbproj.user
*_rltm_build*
obj
bin
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*.vbproj.FileListAbsolute.txt
*.vbproj.GenerateResource.Cache
TestResults
TestResults/*
packages
packages/*
*.DotSettings.user
.vs
.vs/*
